
<section class="home2" id="home">
    <nav class="navbar">
        <div>
            <a class="text-decoration-none fs-5 fw-bold" style="color: #0d737c;" href="/">Gabriel<span
                    style="color: #268c96;">Castro</span>
            </a>
        </div>
        <ul class="nav-links mt-3">
            <li><a class="fw-bold" href="/">Inicio</a></li>
            <li><a class="fw-bold" href="/#about">Sobre mi</a></li>
            <li><a class="fw-bold" href="/projects">Proyectos</a></li>
            <li><a class="fw-bold" href="/#contact">Contactame</a></li>
        </ul>
        <a href="#" class="button-wrapper">
            <a href="https://api.whatsapp.com/send/?phone=3146381395" target="_blank"><button type="button"
                    class="btn contact-btn">Contactame</button></a>
        </a>
        <div class="menu-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    </div>
</section>
<section class="container-fluid portfolio reusable mt-5 py-5" id="portfolio">
    <div class="d-flex align-items-center justify-content-center gap-5 mb-2">
        <ul class="nav nav-pills d-flex gap-4">
        <li class="nav-item dropdown border btn-prod rounded">
            <a class="nav-link dropdown-toggle text-center text-dark fw-bold" data-bs-toggle="dropdown" href="#"
                role="button" aria-expanded="false">Filtrar por tecnologia</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fw-bold" href="/projects">Todos los proyectos</a></li>
                <li><a class="dropdown-item fw-bold" href="/projects?query=HTML">HTML - CSS - JS</a></li>
                <li><a class="dropdown-item fw-bold" href="/projects?query=React">React Js</a></li>
                <li><a class="dropdown-item fw-bold" href="/projects?query=Node">Node & Express</a></li>
                <li><a class="dropdown-item fw-bold" href="/projects?query=Python">Python</a></li>
                <li><a class="dropdown-item fw-bold" href="/projects?query=MySQL">MySQL</a></li>
            </ul>
        </li>
    </ul>
     <a class="nav-link text-center text-dark border btn-prod rounded p-2 fw-bold" href="/">Volver al inicio</a>
    </div>
    <main class="container mt-4 mainContainer">
        <div class="gallery">
            {{#each proyectos}}
            <div class="item" title={{title}}>
                <h6 class="text-center fw-bold text-uppercase">{{title}}</h6>
                <img src={{image}} alt={{title}} class="img-fluid">
                <div class="overlay">
                    <form action="/project/{{id}}" method="GET">
                        <button type="submit" class="btnCv">Detalle del proyecto</button>
                    </form>
                    <a href="{{repository_link}}" class="btnCv ms-3 border border-transparent" target="_blank">Ver Proyecto</a>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="container mt-3 pb-5 mb-5">
            <div class="row text-center">
                <p class="text-dark fw-bold">
                    <a class="text-decoration-none text-dark me-2" href="/projects?page={{prevPage}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-left" viewBox="0 0 16 16">
                            <path
                                d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753" />
                        </svg>
                    </a>
                    {{currentPage}} / {{totalPages}}
                    <a class="text-decoration-none text-dark ms-2" href="/projects?page={{nextPage}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                                d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </main>
</section>